.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/application/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/.ftpconfig
application/Extension_ES_Integration_engines/latest.json
application/Extension_ES_Integration_engines/sendinblue_mautic_prod.json
application/Extension_ES_Integration_engines/sendinblue_mautic_staging.json
application/Extension_ES_Integration_engines/zoho_production.json
application/Extension_ES_Integration_engines/zoho_stage.json

/old/
system/libraries/Session/drivers/Session_files_driver_new.php
application/erd/REMAX/crud_cache/_sys_export.txt
application/erd/REMAX/crud_cache/_sys_language.txt
application/erd/REMAX/crud_cache/_sys_language_string.txt
application/erd/REMAX/crud_cache/_sys_navi.txt
application/erd/REMAX/crud_cache/_sys_page.txt
application/erd/REMAX/crud_cache/_sys_right.txt
application/erd/REMAX/crud_cache/_sys_right_group.txt
application/erd/REMAX/crud_cache/_sys_right_group_has_right.txt
application/erd/REMAX/crud_cache/address.txt
application/erd/REMAX/crud_cache/agent_has_team.txt
application/erd/REMAX/crud_cache/agent_termination_reason.txt
application/erd/REMAX/crud_cache/award.txt
application/erd/REMAX/crud_cache/billing_information.txt
application/erd/REMAX/crud_cache/business_plan.txt
application/erd/REMAX/crud_cache/campaign.txt
application/erd/REMAX/crud_cache/commission.txt
application/erd/REMAX/crud_cache/company.txt
application/erd/REMAX/crud_cache/company_has_franchise_agreement.txt
application/erd/REMAX/crud_cache/company_share.txt
application/erd/REMAX/crud_cache/company_share_snapshot.txt
application/erd/REMAX/crud_cache/contact_address.txt
application/erd/REMAX/crud_cache/contact_company.txt
application/erd/REMAX/crud_cache/contact_has_hash.txt
application/erd/REMAX/crud_cache/contact_information.txt
application/erd/REMAX/crud_cache/contact_information_entry.txt
application/erd/REMAX/crud_cache/contact_information_entry_category.txt
application/erd/REMAX/crud_cache/contact_information_entry_type.txt
application/erd/REMAX/crud_cache/contact_management_log.txt
application/erd/REMAX/crud_cache/contact_person.txt
application/erd/REMAX/crud_cache/contact_sync_account.txt
application/erd/REMAX/crud_cache/contact_sync_account_export.txt
application/erd/REMAX/crud_cache/contact_sync_account_has_contact.txt
application/erd/REMAX/crud_cache/contact_sync_changes.txt
application/erd/REMAX/crud_cache/contact_sync_initial_setup.txt
application/erd/REMAX/crud_cache/contact_sync_log.txt
application/erd/REMAX/crud_cache/contact_sync_migration_matches.txt
application/erd/REMAX/crud_cache/contacts_cronjob_status.txt
application/erd/REMAX/crud_cache/country.txt
application/erd/REMAX/crud_cache/country_has_currency.txt
application/erd/REMAX/crud_cache/country_states.txt
application/erd/REMAX/crud_cache/cronjob_log.txt
application/erd/REMAX/crud_cache/cronjob_status.txt
application/erd/REMAX/crud_cache/currency.txt
application/erd/REMAX/crud_cache/currency_exchange_rate.txt
application/erd/REMAX/crud_cache/currency_exchange_rate_currency_switch.txt
application/erd/REMAX/crud_cache/currency_exchange_rate_daily.txt
application/erd/REMAX/crud_cache/currency_exchange_rate_log.txt
application/erd/REMAX/crud_cache/currency_exchange_rate_rxd.txt
application/erd/REMAX/crud_cache/dashboard_widget.txt
application/erd/REMAX/crud_cache/designation.txt
application/erd/REMAX/crud_cache/development_schedule.txt
application/erd/REMAX/crud_cache/development_schedule_office.txt
application/erd/REMAX/crud_cache/development_schedule_office_snapshot.txt
application/erd/REMAX/crud_cache/development_schedule_snapshot.txt
application/erd/REMAX/crud_cache/email_click.txt
application/erd/REMAX/crud_cache/fee_relief.txt
application/erd/REMAX/crud_cache/franchise_agreement.txt
application/erd/REMAX/crud_cache/franchise_agreement_copy.txt
application/erd/REMAX/crud_cache/franchise_agreement_segment.txt
application/erd/REMAX/crud_cache/franchise_agreement_segment_type.txt
application/erd/REMAX/crud_cache/geolocation_cache.txt
application/erd/REMAX/crud_cache/group.txt
application/erd/REMAX/crud_cache/groups.txt
application/erd/REMAX/crud_cache/here_geolocation_cache.txt
application/erd/REMAX/crud_cache/history.txt
application/erd/REMAX/crud_cache/list.txt
application/erd/REMAX/crud_cache/list_membership.txt
application/erd/REMAX/crud_cache/listing.txt
application/erd/REMAX/crud_cache/listing_transaction.txt
application/erd/REMAX/crud_cache/listing_transaction_copy.txt
application/erd/REMAX/crud_cache/listing_transaction_raw.txt
application/erd/REMAX/crud_cache/llc_api_master_id_log.txt
application/erd/REMAX/crud_cache/login.txt
application/erd/REMAX/crud_cache/login_attempts.txt
application/erd/REMAX/crud_cache/login_oauth_client.txt
application/erd/REMAX/crud_cache/login_session.txt
application/erd/REMAX/crud_cache/note.txt
application/erd/REMAX/crud_cache/notification.txt
application/erd/REMAX/crud_cache/notification_type.txt
application/erd/REMAX/crud_cache/office.txt
application/erd/REMAX/crud_cache/office_annual_dues_override.txt
application/erd/REMAX/crud_cache/office_company_snapshot.txt
application/erd/REMAX/crud_cache/office_daily_snapshot.txt
application/erd/REMAX/crud_cache/office_franchise_contract.txt
application/erd/REMAX/crud_cache/office_franchise_contract_agreement_segment_history.txt
application/erd/REMAX/crud_cache/office_has_company.txt
application/erd/REMAX/crud_cache/office_has_specialization.txt
application/erd/REMAX/crud_cache/office_level.txt
application/erd/REMAX/crud_cache/office_share.txt
application/erd/REMAX/crud_cache/office_share_snapshot.txt
application/erd/REMAX/crud_cache/office_statistics.txt
application/erd/REMAX/crud_cache/office_status_history.txt
application/erd/REMAX/crud_cache/office_view.txt
application/erd/REMAX/crud_cache/opportunity.txt
application/erd/REMAX/crud_cache/opportunity_prospect.txt
application/erd/REMAX/crud_cache/performance_schedule.txt
application/erd/REMAX/crud_cache/performance_schedule_snapshot.txt
application/erd/REMAX/crud_cache/person.txt
application/erd/REMAX/crud_cache/person_active_role_count_view.txt
application/erd/REMAX/crud_cache/person_annual_dues_action.txt
application/erd/REMAX/crud_cache/person_annual_dues_action_history.txt
application/erd/REMAX/crud_cache/person_annual_dues_comment.txt
application/erd/REMAX/crud_cache/person_daily_snapshot.txt
application/erd/REMAX/crud_cache/person_former_name.txt
application/erd/REMAX/crud_cache/person_has_award.txt
application/erd/REMAX/crud_cache/person_has_award_transaction.txt
application/erd/REMAX/crud_cache/person_has_designation.txt
application/erd/REMAX/crud_cache/person_has_language.txt
application/erd/REMAX/crud_cache/person_has_termination.txt
application/erd/REMAX/crud_cache/person_language.txt
application/erd/REMAX/crud_cache/person_license_number.txt
application/erd/REMAX/crud_cache/person_main_office.txt
application/erd/REMAX/crud_cache/person_note.txt
application/erd/REMAX/crud_cache/person_notification_blacklist.txt
application/erd/REMAX/crud_cache/person_primary_title_history.txt
application/erd/REMAX/crud_cache/person_primary_title_view.txt
application/erd/REMAX/crud_cache/person_suffix.txt
application/erd/REMAX/crud_cache/project_time.txt
application/erd/REMAX/crud_cache/project_workload.txt
application/erd/REMAX/crud_cache/prospect.txt
application/erd/REMAX/crud_cache/prospect_account.txt
application/erd/REMAX/crud_cache/query_log.txt
application/erd/REMAX/crud_cache/region.txt
application/erd/REMAX/crud_cache/region_ad_open_entry_has_applicable_fee_relief.txt
application/erd/REMAX/crud_cache/region_annual_dues_fee_relief.txt
application/erd/REMAX/crud_cache/region_annual_dues_fee_relief_has_region.txt
application/erd/REMAX/crud_cache/region_annual_dues_finance.txt
application/erd/REMAX/crud_cache/region_annual_dues_open_entry.txt
application/erd/REMAX/crud_cache/region_annual_dues_reopen_task.txt
application/erd/REMAX/crud_cache/region_annual_dues_status.txt
application/erd/REMAX/crud_cache/region_annual_dues_status_entry.txt
application/erd/REMAX/crud_cache/region_note.txt
application/erd/REMAX/crud_cache/region_reporting_status.txt
application/erd/REMAX/crud_cache/region_reporting_status_copy.txt
application/erd/REMAX/crud_cache/region_share_snapshot.txt
application/erd/REMAX/crud_cache/region_shares.txt
application/erd/REMAX/crud_cache/region_view.txt
application/erd/REMAX/crud_cache/regional_subsidy.txt
application/erd/REMAX/crud_cache/relation.txt
application/erd/REMAX/crud_cache/remax_entity.txt
application/erd/REMAX/crud_cache/remax_entity_category.txt
application/erd/REMAX/crud_cache/remax_entity_has_group.txt
application/erd/REMAX/crud_cache/remax_entity_status.txt
application/erd/REMAX/crud_cache/report.txt
application/erd/REMAX/crud_cache/report_agent_recruiting.txt
application/erd/REMAX/crud_cache/report_agents_recurring.txt
application/erd/REMAX/crud_cache/report_monthly_agent_production.txt
application/erd/REMAX/crud_cache/report_monthly_recruiting.txt
application/erd/REMAX/crud_cache/report_new_agent_recruitments.txt
application/erd/REMAX/crud_cache/report_office_processed_contracts.txt
application/erd/REMAX/crud_cache/report_office_recruiting.txt
application/erd/REMAX/crud_cache/report_office_status_change.txt
application/erd/REMAX/crud_cache/report_offices_recurring.txt
application/erd/REMAX/crud_cache/report_person_other_change.txt
application/erd/REMAX/crud_cache/report_person_status_change.txt
application/erd/REMAX/crud_cache/report_recruiting.txt
application/erd/REMAX/crud_cache/report_session.txt
application/erd/REMAX/crud_cache/report_status.txt
application/erd/REMAX/crud_cache/report_template.txt
application/erd/REMAX/crud_cache/report_template_section.txt
application/erd/REMAX/crud_cache/report_toplist_agents_recurring.txt
application/erd/REMAX/crud_cache/report_toplist_bos_pofs_recurring.txt
application/erd/REMAX/crud_cache/report_toplist_franchise_sales_recurring.txt
application/erd/REMAX/crud_cache/report_toplist_offices_recurring.txt
application/erd/REMAX/crud_cache/report_toplist_team_leaders_recurring.txt
application/erd/REMAX/crud_cache/reporting_month_overview.txt
application/erd/REMAX/crud_cache/reporting_office_overview.txt
application/erd/REMAX/crud_cache/reportjob_log.txt
application/erd/REMAX/crud_cache/role.txt
application/erd/REMAX/crud_cache/role_has_system_permission.txt
application/erd/REMAX/crud_cache/search_index.txt
application/erd/REMAX/crud_cache/search_index_entry.txt
application/erd/REMAX/crud_cache/specialization.txt
application/erd/REMAX/crud_cache/storage.txt
application/erd/REMAX/crud_cache/subregion_settings.txt
application/erd/REMAX/crud_cache/subregion_tag.txt
application/erd/REMAX/crud_cache/system_access.txt
application/erd/REMAX/crud_cache/system_access_has_package.txt
application/erd/REMAX/crud_cache/system_access_package.txt
application/erd/REMAX/crud_cache/system_access_package_group.txt
application/erd/REMAX/crud_cache/system_access_package_has_permission.txt
application/erd/REMAX/crud_cache/system_access_permission.txt
application/erd/REMAX/crud_cache/system_access_role.txt
application/erd/REMAX/crud_cache/system_access_role_has_package.txt
application/erd/REMAX/crud_cache/system_access_tier.txt
application/erd/REMAX/crud_cache/system_permission.txt
application/erd/REMAX/crud_cache/tag.txt
application/erd/REMAX/crud_cache/tag_object.txt
application/erd/REMAX/crud_cache/team.txt
application/erd/REMAX/crud_cache/territory.txt
application/erd/REMAX/crud_cache/user.txt
application/erd/REMAX/crud_cache/user_dashboard.txt
application/erd/REMAX/crud_cache/users.txt
application/erd/REMAX/crud_cache/users_groups.txt
application/erd/REMAX/crud_cache/visit.txt
application/erd/REMAX/crud_cache/visitor.txt
application/erd/REMAX/crud_cache/visitor_activity.txt
application/erd/REMAX/crud_cache/visitor_page_view.txt
application/erd/REMAX/crud_cache/xview.txt
application/erd/REMAX/crud_cache/xview_listing_transaction_lifetime.txt
application/erd/REMAX/crud_cache/xview_office_counts.txt
application/erd/REMAX/crud_cache/xview_office_status_last_contract.txt
application/erd/REMAX/crud_cache/xview_office_total_persons_counts.txt
application/erd/REMAX/crud_cache/xview_offices_owned.txt
application/erd/REMAX/crud_cache/xview_person_last_primary_title.txt
application/erd/REMAX/crud_cache/xview_person_list.txt
application/erd/REMAX/crud_cache/xview_person_primary_title.txt
application/erd/REMAX/crud_cache/xview_person_status.txt
