{
  "delivery_sources":[
    {
      "id":"Sendinblue_Webhook",
      "map":{
        "event_type_trigger":"event",
        "event_types":[
          {
            "id":"spam",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"date",
                "out":"date"
              },
              {
                "in_":"ts",
                "out":"ts"
              }
            ]
          },
          {
            "id":"delivered",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"camp_id",
                "out":"camp_id"
              },
              {
                "in_":"campaign name",
                "out":"object"
              },
              {
                "in_":"date_sent",
                "out":"date_sent"
              },
              {
                "in_":"date_event",
                "out":"date_event"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"tag",
                "out":"tag"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"ts_sent",
                "out":"ts_sent"
              },
              {
                "in_":"ts_event",
                "out":"ts_event"
              },
              {
                "in_":"sending_ip",
                "out":"sending_ip"
              },
              {
                "in_":"ts",
                "out":"ts"
              }
            ]
          },
          {
            "id":"opened",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"camp_id",
                "out":"camp_id"
              },
              {
                "in_":"campaign name",
                "out":"object"
              },
              {
                "in_":"date_sent",
                "out":"date_sent"
              },
              {
                "in_":"date_event",
                "out":"date_event"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"tag",
                "out":"tag"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"ts_sent",
                "out":"ts_sent"
              },
              {
                "in_":"ts_event",
                "out":"ts_event"
              },
              {
                "in_":"ts",
                "out":"ts"
              }
            ]
          },
          {
            "id":"click",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"camp_id",
                "out":"camp_id"
              },
              {
                "in_":"campaign name",
                "out":"object"
              },
              {
                "in_":"date_sent",
                "out":"date_sent"
              },
              {
                "in_":"date_event",
                "out":"date_event"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"tag",
                "out":"tag"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"URL",
                "out":"URL"
              },
              {
                "in_":"ts_sent",
                "out":"ts_sent"
              },
              {
                "in_":"ts_event",
                "out":"ts_event"
              },
              {
                "in_":"ts",
                "out":"ts"
              }
            ]
          },
          {
            "id":"unsubscribe",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"camp_id",
                "out":"camp_id"
              },
              {
                "in_":"campaign name",
                "out":"object"
              },
              {
                "in_":"date_sent",
                "out":"date_sent"
              },
              {
                "in_":"date_event",
                "out":"date_event"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"tag",
                "out":"tag"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"ts_sent",
                "out":"ts_sent"
              },
              {
                "in_":"ts_event",
                "out":"ts_event"
              },
              {
                "in_":"ts",
                "out":"ts"
              },
              {
                "in_":"list_id",
                "out":"list_id"
              }
            ]
          },
          {
            "id":"hard_bounce",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"camp_id",
                "out":"camp_id"
              },
              {
                "in_":"campaign name",
                "out":"object"
              },
              {
                "in_":"date_sent",
                "out":"date_sent"
              },
              {
                "in_":"date_event",
                "out":"date_event"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"tag",
                "out":"tag"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"ts_sent",
                "out":"ts_sent"
              },
              {
                "in_":"ts_event",
                "out":"ts_event"
              },
              {
                "in_":"ts",
                "out":"ts"
              },
              {
                "in_":"reason",
                "out":"reason"
              },
              {
                "in_":"sending_ip",
                "out":"sending_ip"
              }
            ]
          },
          {
            "id":"soft_bounce",
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"camp_id",
                "out":"camp_id"
              },
              {
                "in_":"campaign name",
                "out":"object"
              },
              {
                "in_":"date_sent",
                "out":"date_sent"
              },
              {
                "in_":"date_event",
                "out":"date_event"
              },
              {
                "in_":"event",
                "out":"verb"
              },
              {
                "in_":"tag",
                "out":"tag"
              },
              {
                "in_":"email",
                "out":"subject"
              },
              {
                "in_":"ts_sent",
                "out":"ts_sent"
              },
              {
                "in_":"ts_event",
                "out":"ts_event"
              },
              {
                "in_":"ts",
                "out":"ts"
              },
              {
                "in_":"reason",
                "out":"reason"
              },
              {
                "in_":"sending_ip",
                "out":"sending_ip"
              }
            ]
          }
        ]
      },
      "linked_delivery_destinations":[
        "Mautic_API"
      ]
    }
  ],
  "delivery_destinations":[
    {
      "id":"Mautic_API",
      "url":"https://crm.csanews.co.za/api",
      "authorization":{
        "type":"oauth2",
        "clientId":"xxxxxxxxxx",
        "clientSecret":"xxxxxxxxxx",
        "redirectUri":"https://easysync.csanews.co.za/Extension_ES_Form_c/tokens?integration_engine=2&delivery_destination=Mautic_API",
        "urlAuthorize":"https://crm.csanews.co.za/oauth/v2/authorize",
        "urlAccessToken":"https://crm.csanews.co.za/oauth/v2/token",
        "urlResourceOwnerDetails":""
      },
      "map":{
        "event_type_trigger":"verb",
        "event_types":[
          {
            "id":"spam",
            "request_type":"POST",
            "request_suffix":"/eventsapi/sent",
            "success_check_where_field":"errors",
            "success_check_where_operator":"!isset",
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"object",
                "out":"email_name"
              },
              {
                "in_":"subject",
                "out":"email_address"
              }
            ]
          },
          {
            "id":"delivered",
            "request_type":"POST",
            "request_suffix":"/eventsapi/sent",
            "success_check_where_field":"errors",
            "success_check_where_operator":"!isset",
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"object",
                "out":"email_name"
              },
              {
                "in_":"subject",
                "out":"email_address"
              }
            ]
          },
          {
            "id":"click",
            "request_type":"POST",
            "request_suffix":"/eventsapi/click",
            "success_check_where_field":"status_name",
            "success_check_where_operator":"==",
            "success_check_where_value":true,
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"subject",
                "out":"email_address"
              },
              {
                "in_":"URL",
                "out":"url"
              }
            ]
          },
          {
            "id":"created campaign",
            "request_type":"POST",
            "request_suffix":"/emails/new",
            "success_check_where_field":"errors",
            "success_check_where_operator":"!isset",
            "payload_type":"x-www-form-urlencoded",
            "headers":[],
            "fields":[
              {
                "in_":"object",
                "out":"name"
              },
              {
                "in_":"type",
                "out":"subject"
              }
            ]
          },
          {
            "id":"opened",
            "request_type":"POST",
            "request_suffix":"/eventsapi/open",
            "success_check_where_field":"status_name",
            "success_check_where_operator":"==",
            "success_check_where_value":true,
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"subject",
                "out":"email_address"
              },
              {
                "in_":"object",
                "out":"email_name"
              }
            ]
          },
          {
            "id":"unsubscribe",
            "request_type":"POST",
            "request_suffix":"/eventsapi/unsubscribe",
            "success_check_where_field":"status_name",
            "success_check_where_operator":"==",
            "success_check_where_value":true,
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"subject",
                "out":"email_address"
              },
              {
                "in_":"object",
                "out":"email_name"
              }
            ]
          },
          {
            "id":"hard_bounce",
            "request_type":"POST",
            "request_suffix":"/eventsapi/hardbounce",
            "success_check_where_field":"status_name",
            "success_check_where_operator":"==",
            "success_check_where_value":true,
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"subject",
                "out":"email_address"
              },
              {
                "in_":"object",
                "out":"email_name"
              }
            ]
          },
          {
            "id":"soft_bounce",
            "request_type":"POST",
            "request_suffix":"/eventsapi/softbounce",
            "success_check_where_field":"status_name",
            "success_check_where_operator":"==",
            "success_check_where_value":true,
            "payload_type":"x-www-form-urlencoded",
            "headers":{},
            "fields":[
              {
                "in_":"subject",
                "out":"email_address"
              },
              {
                "in_":"object",
                "out":"email_name"
              }
            ]
          }
        ]
      }
    }
  ],
  "retrieval_sources":[
    {
      "id":"Sendinblue_API",
      "url":"https://api.sendinblue.com/v3",
      "headers":{
        "api-key": "xxxxxxxxxx"
      },
      "map":{
        "cases":[
          {
            "id":"created campaign",
            "request_type":"POST",
            "request_suffix":"emailCampaigns",
            "success_check_where_field":"code",
            "success_check_where_operator":"!isset",
            "success_check_where_value":"",
            "headers":[],
            "fields":[
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"name",
                "out":"object"
              },
              {
                "in_":"status",
                "out":"status"
              },
              {
                "in_":"type",
                "out":"type"
              }
            ]
          },
          {
            "id":"Contact",
            "request_type":"POST",
            "request_suffix":"contacts",
            "success_check_where_field":"code",
            "success_check_where_operator":"!isset",
            "success_check_where_value":"",
            "headers":[],
            "fields":[
              {
                "in_":"email",
                "out":"email"
              },
              {
                "in_":"id",
                "out":"id"
              },
              {
                "in_":"emailBlacklisted",
                "out":"emailBlacklisted"
              },
              {
                "in_":"smsBlacklisted",
                "out":"smsBlacklisted"
              },
              {
                "in_":"createdAt",
                "out":"createdAt"
              },
              {
                "in_":"modifiedAt",
                "out":"modifiedAt"
              },
              {
                "in_":"attributes/FIRSTNAME",
                "out":"attributes/FIRSTNAME"
              },
              {
                "in_":"attributes/MODIFIED_TIME",
                "out":"attributes/MODIFIED_TIME"
              },
              {
                "in_":"attributes/MEMBERID",
                "out":"attributes/MEMBERID"
              },
              {
                "in_":"attributes/HOMEPROVINCE",
                "out":"attributes/HOMEPROVINCE"
              },
              {
                "in_":"attributes/FANTYPE",
                "out":"attributes/FANTYPE"
              },
              {
                "in_":"attributes/ADDED_TIME",
                "out":"attributes/ADDED_TIME"
              },
              {
                "in_":"attributes/NAME",
                "out":"attributes/NAME"
              },
              {
                "in_":"attributes/FIRSTNAME",
                "out":"attributes/FIRSTNAME"
              },
              {
                "in_":"attributes/CREATED_DATE",
                "out":"attributes/CREATED_DATE"
              },
              {
                "in_":"attributes/SMS",
                "out":"attributes/SMS"
              },
              {
                "in_":"listIds",
                "out":"listIds"
              }
            ]
          }
        ]
      },
      "linked_delivery_destinations":[
        "Mautic_API"
      ]
    }
  ]
}
